 <a href='/'> <button> Home </button></a>
<section>
  <img src="https://s1.ppllstatics.com/ideal/www/pre2017/multimedia/granada/noticias/201002/26/Media/otras/ace--253x180.jpg" alt="" style="max-width: 500px" />
  <h4>I dont know you creep. (Steve if this is you just log in mate')</h4>


    <a href="/login"> <button> Log in here Steve </button></a>
    <a href="https://www.youtube.com/watch?v=o79JCx1hgt4"> <button> Irwin Cloning Facility </button></a>
  </div>
</section>