<h2>Enter the Rhino Realm</h2>
<section>
  <h3>Products CRUD</h3>
  <form id="productsCrud" action="/api/products" method="post">
    <label>Title</label>
    <input name="title" />
    <br />
    <label>Description</label>
    <input name="description" />
    <br />
    <label>Category</label>
    <input name="category" />
    <br />
    <label>Price</label>
    <input name="price" />
    <br />
    <label>Stock</label>
    <input name="stock" />
    <br />
    <label>Thumbnail</label>
    <input name="thumbnail" />
    <input type="submit" />
  </form>

</section>
<a href="/"><button>Home</button></a>