<div>
  <h3>Register</h3>
  <form id="registerForm">
    <label>Name</label>
    <input name="first_name" />
    <br />
    <label>Last Name</label>
    <input name="last_name" />
    <br />
    <label>Email</label>
    <input name="email" />
    <br />
    <label>Age</label>
    <input name="age" />
    <br />
    <label>Password</label>
    <input type="password" name="password" />
    <input type="submit" />
  </form>
  <p>Already a Rhino?<a href="/login">Sign In</a></p>
</div>
<a href="/"> <button> Home </button></a>
<script src="/js/register.js"></script>