<h2>Enter the Rhino Realm</h2>
<div>
  <h3>Reset your password</h3>
  {{#if session.current}}
    <p>You are already logged in as {{session.name}}</p>
    <button style="width: 120px" id="logout">Logout </button>
    <script src="/js/logout.js"></script>
  {{else}}
    <form id="reset-password-form" action="/api/users/reset-password" method="post">
      <label>Enter new password</label>
      <input type="password" name="password" />
      <br />
      <label>Confirm password</label>
      <input type="password" name="passwordConfirmation" />
      <br />
      <input type="hidden" name="currentPassword" value="{{currentPassword}}" />
      <input type="hidden" name="userEmail" value="{{userEmail}}" />
      <br />
      <input type="submit" />
    </form>
  {{/if}}
</div>
<a href="/"><button>Home</button></a>