<h2>Enter the Rhino Realm</h2>
<section>
  <h3>Password Recovery Request</h3>
  {{#if session.current}}
    <p>You are already logged in as {{session.name}}</p>
    <button style="width: 120px" id="logout">Logout </button>
    <script src="/js/logout.js"></script>
  {{else}}
    <form id="recoveryForm" action="/api/users/generate-recovery-token" method="post">
      <label>Enter your registered email</label>
      <input name="email" />
      <input type="submit" />
    </form>
  {{/if}}
</section>
<a href="/"><button>Home</button></a>