<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dfrvbm0im/image/upload/v1690350650/ventura_ydc7ym.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <link rel="stylesheet" src="/css/Index.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <h2>Welcome to Ace Ventura's Shop</h2>
    <img src="https://res.cloudinary.com/dfrvbm0im/image/upload/v1694445757/ace_logo_mpgfdc.png" alt="Ace Logo" style="max-width: 200px" />
    {{{body}}}
  </body>
</html>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>